@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

*:focus {
  outline: none;
}

html{
  background-color: gray;
}

form{
    left: 50%;
    top: 40%;
    position: absolute;    
    transform: translate(-50%, -50%);    
}

.btn {
  text-transform: uppercase;
  margin: auto;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 1px;
  position: relative;
  background-color: #16a085;
  border: none;
  color: #fff;
  padding: 15px;
  width: 110px;
  transition-duration: 0.4s;
  overflow: hidden;    
  border-radius: 4px;
}

.btn:hover {
  background: #000;
  box-shadow: 0 5px 15px #193047;
  color: #fff;
}

.btn:after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.btn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.btn:focus { 
  outline:0; 
}

.alert {  
  display: block;
  margin: 0 auto;
  text-align: center;
}

select {
  position: relative;
  display: block;
  width: 15em;
  height: 2.5em;
  line-height: 3;
  overflow: hidden;
  border-radius: .25em;
  padding-bottom: 10px;
}

select:focus {
  border-bottom: 2px solid #16a085;
  transition: 0.2s ease;
}



/* input[type="text"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 2px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
} */



