<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<h3 style="text-align: center;">Datos de gestion de potencia</h3>

<form [formGroup]="starshipForm" (ngSubmit)="onSubmit()">
  <div class="contenedor">
<mat-form-field> 
    <mat-label>Danio A</mat-label>
    <input type="text" formControlName="danioA" matInput [formControl]="starshipFormControl" placeholder="Formato 99">
 </mat-form-field>
 <br><br> 
 <mat-form-field>
  <mat-label>Danio B</mat-label>
  <input type="text" formControlName="danioB" matInput [formControl]="starshipFormControl" placeholder="Formato 99">
</mat-form-field>
<br><br>
<mat-form-field>
    <mat-label>Danio C</mat-label>
    <input type="text" formControlName="danioC" matInput [formControl]="starshipFormControl" placeholder="Formato 99">
</mat-form-field>
<br><br>
<mat-form-field>
  <textarea matInput 
     placeholder="Resultados" 
     formControlName="res">
  </textarea>
</mat-form-field> 


<br><br> 
<div class="col-sm-4">   
  <button mat-raised-button color="primary">Calcular</button>    
</div>

</div>
</form>

